asgiref==3.7.2
astroid==2.15.5
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
colorama==0.4.6
cryptography==41.0.0
defusedxml==0.7.1
dill==0.3.6
Django==3.2.18
django-filter==23.2
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djoser==2.2.0
drf-extra-fields==3.5.0
filetype==1.2.0
flake8
freetype-py==2.3.0
gunicorn==20.0.4
idna==3.4
install==1.3.5
isort
lazy-object-proxy==1.9.0
mccabe==0.7.0
oauthlib==3.2.2
pep8-naming==0.13.3
Pillow==9.5.0
platformdirs==3.5.1
psycopg2-binary
pycairo==1.23.0
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
PyJWT==2.7.0
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2023.3
reportlab==4.0.0
requests==2.31.0
requests-oauthlib==1.3.1
rlPyCairo==0.2.0
social-auth-app-django==5.2.0
social-auth-core==4.4.2
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.6.2
urllib3==2.0.2
wrapt==1.15.0
